html
  head
    title= title
  body
    h1= message
    a(class='button' href=url + '/users') Users 
    br
    a(class='button' href=url + '/groups') Groups
    br
    a(class='button' href=url + '/requests') Requests

